header {
  justify-content: space-between;
}

header img {
  margin-left: 2rem;
}

header nav {
  margin-right: 3rem;
}

main {
  flex-direction: row;
}

.side-bar {
  width: 30%;
}

.side-bar {
  margin: 10px 0;
}

.side-bar article {
  width: 100%;
}

.main-content {
  width: 70%;
}
